{% extends 'base.html.twig' %}

{% block body  %}
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Create product</h1>
        </div>
        <hr>
    </div>
    <div class="col-12">
        <form action="/admin/products/store" method="post">
            <div class="form-group">
                <label>Name of product</label>
                <input type="text" class="form-control" name="na">
            </div>

            <div class="form-group">
                <label>description</label>
                <input type="text" class="form-control" name="description">
            </div>

            <div class="form-group">
                <label>Content/Information</label>
                <textarea class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label>Slug</label>
                <input type="text" class="form-control" name="slug">
            </div>

            <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control" name="price">
            </div>

            <div class="form-group">
                <button class="btn btn-lg btn-success">Create product</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}